<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Probabilidades</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="main-view" class="view">
        <h1 class="main-title">Análisis de Probabilidades de Números</h1>
        <div>
            <a href="/cargar" class="btn red large">Cargar</a>
            <a href="/probabilidad" class="btn green large">Probabilidad</a>
            <a href="/jugadas" class="btn blue large">Jugadas</a>
        </div>
    </div>

    <script src="/static/js/main.js"></script>
</body>
</html>